


/* or just overwrite a variable */
$headings-color: #F00;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #092327 !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

main{
    padding: 5px 5px 5px 5px;
}

.nav-text{
    vertical-align: middle;
}

.small-text-inline{
    display: inline;
    padding-right: 15px;
}

.content{
    padding: 5px;
}



.page {
    max-width: 60rem;
    width: 100%;
    background: lightgray;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    > header,
    > main,
    > footer {
      width: 100%;
      padding: 1rem;
      margin: .5rem 1rem;
      text-align: left;

    }
    > header {
      display: block;
      color: white;
      background: rgba($color: #591e01, $alpha: 0.86);
      
    }
    > main {
      flex: 1 1 auto;
    }
    > footer {
      background: white;
      position: fixed;
      margin: 0;
      bottom: 0pt;
      left: 0pt;
      z-index: 1;
      transition: 200ms;
      &:hover {
        box-shadow: 0 0 2rem #cccccc;
      }
    }
  }


/* Bring in your custom variables */

@import 'bootstrap/scss/bootstrap.scss';